<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title></title>
</head>

<style>
	body {
		padding: 2em;
		background-color: powderblue;
	}

	th {
		border-bottom: 2px solid black;
		color: blue;
	}
</style>
<body>
<p><a href="/">Home Page</a></p>

<p>All Gammes for Player: {{PlayerName}}</p>
<table>
	<tr>
		<th>Start Time</th>
		<th>Death Time</th>

		<th>Max Player Size</th>
		<th>Time (In Seconds) to hit Max Size</th>
		<th>Death Time (In Seconds) after hitting max size.</th>
	</tr>
	{{PlayerScores}}
</table>


</body>
</html>