<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>

    <style>
	    body {
		    padding: 2em;
		    background-color: powderblue;
	    }

	    p {
		    color: blue;
	    }
    </style>
</head>
<body>
	<h1>CS 3500 is Awesome!</h1>

	<p>You are #{{VisitorCount}} to connect</p>

	<p><a href="/">Reload Page</a></p>
	<p><a href="/highscores">High Scores</a> You can view individual player scores here.</p>
	<p><a href="/fancy">Fancy High Scores Page</a></p>
	<p><a href="/create">Setup Database Tables</a></p>


	<p>/scores/[name]/[highmass]/[highrank]/[starttime]/[endtime]  - This request will update the server with data manually.</p>
	<p>Any other Url will return Not Found.</p>

</body>
</html>